<div class="bg-img">
  </br>
  <% flash.each do |t, msg| %>
    <% if t.index('a')== 0 %>
      <div class="alert alert-danger" role="alert">
          <%= msg %>
      </div>
    <% end %>
  <% end %>

  <div class="container">
    <h2 text="center">Login</h2>
    <%= form_tag sessions_path do %>
  
      <label for="staticEmail" class:"col-sm-2 col-form-label">Email</label>
        <div class="col-sm-0">
          <%= text_field_tag :email, nil, placeholder: "Email" %>
        </div>

      <label for="inputPassword" class:"col-sm-2 col-form-label">Password</label>
        <div class="col-sm-0">
          <%= password_field_tag :password, nil, placeholder: "Password" %>
        </div>
      <%= submit_tag "Log In",class:"btn"%>
    <% end %>
    </br>
    New user???<%= link_to 'Signup', 'signup',class:"linkstyle" %>
  </div>
</div>