<%= form_with model: @studentinfo do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :address %><br>
      <%= form.text_area :address %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  
  <ul>
    <li><%=  link_to "Edit", edit_student_path(@student) %></li>
    <li><%= link_to "Destroy", student_path(@student),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
    <li><%= link_to "Home", root_path %></li>
  </ul>
  