<%= form_with(model: student) do |form| %>

  <div>
  <br>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% student.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
    <% student.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <% student.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


