# <p id="notice"><%= notice %></p>

#   <% if current_user %>
#   Logged in as <%= current_user.email %>.
#   <p id="notice"><%= notice %></p>
#   <strong>Email:</strong>
#   <%= current_user.email %>
#   </p>
#   <%= link_to 'Edit', edit_student_path(@student) %> |
#   <%= link_to 'Back', students_path %> |
#   <%= link_to 'logout', logout_path %></p>
  
#   <% else %>
#   <%= link_to 'signup', signup_path %>
#    <% end %>
# <p id=”notice”><%= notice %></p>
