<p id="notice"><%= notice %></p>  
<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>
<%= link_to 'Edit Password', edit_student_path(@student) %> <br>
<%= link_to 'logout', logout_path %> <br>
<%= link_to 'show student_information', student_studentinfo_path(@student) %><br>
<%= link_to 'result show', student_results_path(@student) %><br>
