<div class="border">
<%= form_with model: @result, url: student_results_path do |form| %>
  <%= form.label :subject %>
  <div class="box">
    <%= form.text_field :subjects %>
  </div><br>

  <%= form.label :gread %>
  <div class="box">
    <%= form.text_field :gread %>
  </div>

  <div class="button">
    <%= form.submit %>
  </div>
<% end %>
</div>