<h1>Result Info</h1>

<%= form_with model: @result, url: edit_result_path(id: @result.id, student_id: @result.student_id), method: :post do |form| %>
  <div>
    <%= form.label :subject %><br>
    <%= form.text_field :subjects %>
  </div>

  <div>
    <%= form.label :gread %><br>
    <%= form.text_field :gread %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<ul>
<%= link_to 'Back', student_results_path(id: @result.id, student_id: @result.student_id) %> 
  </ul>

  
