  
<%= form_with model: @result, url: student_result_path do |form| %>
  <div>
    <%= form.label :subject %><br>
    <%= form.text_field :subjects %>
  </div>

  <div>
    <%= form.label :gread %><br>
    <%= form.text_area :gread %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>  
<ul>
<%= link_to 'Back', student_path(params[:id]) %> 
  </ul>
  