  
<%= form_with model: @results, url: student_result_path do |form| %>
  <div>
    <%= form.label :subject %><br>
    <%= form.text_field :subjects %>
  </div>

  <div>
    <%= form.label :gread %><br>
    <%= form.text_area :gread %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>  
<li><%= link_to "Destroy", student_result_path(@result),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
<ul>
<%= link_to 'Back', student_path(params[:id]) %> 
  </ul>
  